################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/Widec.Rewrite/bin/Debug
/src/Widec.Rewrite/obj
